// mixin ////////////////////////////////////////////////////////////////////////

// grid
@mixin grid-setup {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  
  @mixin grid-position ($col-start, $col-end, $row-start, $row-end) {
    position: relative;
    grid-column-start: $col-start;
    grid-column-end: $col-end;
    grid-row-start: $row-start;
    grid-row-end: $row-end;
  }
  
  // breakpoint
  @mixin tablet {
    @media (max-width: 600px) {
      @content;
    }
  }
  
  // generic section setup
  @mixin section-setup {
    max-width: 1200px;
    margin: auto;
  }
  
  // about mixin
  @mixin orbit-setup($color-var, $font-size-orbit-var, $margin-orbit-var) {
    position: absolute;
    margin: $margin-orbit-var;
    padding: 2rem;
    font-size: $font-size-orbit-var;
    color: $color-8;
    border: 1px solid $color-var;
    border-radius: 50%;
  }
  
  @mixin orbit-animation() {
    animation-name: orbit-reverse;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  } 
  
  // project template mixin
  @mixin project-template($project-color-var, $text-align-var, $content-align-start-var, $content-align-end-var, $justify-content-var, $left-or-right-var) {
    .project {
      margin: 5rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(6, 1fr);
      align-items: center;
  
      @media screen and (max-width: 768px) {
        align-items: flex-start;
      }
  
      .project-content {
        position: relative;
        grid-column-start: $content-align-start-var;
        grid-column-end: $content-align-end-var;
        grid-row: 1 / -1;
      
        @include tablet {
          grid-column: 1 / -1;
          padding: 3.5rem;
        }
      
        .project-label {
          color: $color-8;
          text-align: $text-align-var;
        }
  
        .project-title {
          font-weight: normal;
          font-size: 3rem;
          margin: 1rem 0 2rem;
          color: $project-color-var;
          text-align: $text-align-var;
        }
  
        .project-details {
          font-size: 1.4rem;
          line-height: 1.5;
          color: $color-1;
  
          @include tablet {
            color: $color-8;
          }
      
          p {
            background-color: $color-8;
            padding: 1.5rem 1.5rem;
            border-bottom: 4px solid $project-color-var;
            border-#{$left-or-right-var}: 3px solid $project-color-var;
  
            filter: brightness(.95);
            
            @include tablet {
              background-color: transparent;
              padding: 1.5rem 0;
              border: none;
            }
          }
  
          ul {
            display: flex;
            margin-top: 1.5rem;
            align-items: center;
            justify-content: $justify-content-var;
      
            li {
              margin: 1.5rem;
              color: $project-color-var;
  
              .project-github {
                font-size: 2rem;
  
                &:hover {
                  color: $color-7;
                }
              }
            }
          }
        }
      }
    }
  }
  
  // project image mixin
  @mixin project-img-template ($project-color-var, $content-align-var-start, $content-align-var-end, $left-or-right-var) {
    .project-img {
      position: relative;
      z-index: -1;
      background: $project-color-var;
      border-bottom: 1px solid $project-color-var;
      border-#{$left-or-right-var}: 1px solid $project-color-var;
      border-radius: 2px;
      grid-column-start: $content-align-var-start;
      grid-column-end: $content-align-var-end;
      grid-row: 1 / -1;
  
      @media screen and (max-width: 768px) {
        height: 100%;
      }
      @include tablet {
        grid-column: 1 / -1;
        opacity: 0.25;
      }
  
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        background-color: $project-color-var; //picture vfx
        opacity: calc(20%); //picture vfx
        mix-blend-mode: screen;
        border-radius: 2px;
      }
  
      img {
        border-radius: 2px;
        position: relative;
        mix-blend-mode: multiply;
        filter: grayscale(10%) contrast(1); //picture vfx
        border: 1px solid $color-1;
          
        @media screen and (max-width: 768px) {
          object-fit: cover;
          width: auto;
          height: 100%;
        }
      }
    }
  }
  
  // contact form mixin
  @mixin input-setup ($input-or-textarea-var, $width-var, $height-var, $border-var){
    #{$input-or-textarea-var} {
      font-size: 1.6rem;
      padding: 1rem;
      display: block;
      width: $width-var;
      height: $height-var;
      border: none;
      #{$border-var}: 1px solid $color-3;
      background-color: $color-1;
      color: $color-8;
      resize: none;
      
      &:focus {
        font-size: 1.6rem;
        color: $color-8;
        outline: none;
        #{$border-var}: 1px solid $color-7;
      }
    }
  
    label {
      padding-bottom: 1rem;
      color: $color-8; 
      font-size: 2rem;
    }
  }