* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  width: 15px;
}
html ::-webkit-scrollbar-track {
  background: #2a242b;
}
html ::-webkit-scrollbar-thumb {
  background: #775b5b;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #90d59c;
}

body {
  background-color: #2a242b;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Inter", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.sun-container {
  padding: 3rem;
  padding-top: 2rem;
  display: flex;
  justify-content: left;
}
.sun-container .sun-logo {
  display: block;
  position: relative;
  transform: translateY(-6px);
  width: 16vmin;
  height: calc(16vmin + 12px);
  -webkit-animation: sun-move-up linear 0.8s infinite;
          animation: sun-move-up linear 0.8s infinite;
  -webkit-mask-image: repeating-linear-gradient(to top, #2a242b 0 4px, transparent 0 12px);
}
.sun-container .sun-logo::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  background-size: 100%;
  background-image: linear-gradient(to bottom, #cc7048, #d7B550, #ffffb2, #90d59c, #68a8ab);
  -webkit-animation: sun-move-down linear 0.8s infinite;
          animation: sun-move-down linear 0.8s infinite;
  border-radius: 50%;
}

@-webkit-keyframes sun-move-up {
  from {
    top: 12px;
  }
  to {
    top: 0;
  }
}

@keyframes sun-move-up {
  from {
    top: 12px;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes sun-move-down {
  from {
    top: 0;
  }
  to {
    top: 12px;
  }
}
@keyframes sun-move-down {
  from {
    top: 0;
  }
  to {
    top: 12px;
  }
}
.nav-1-container .nav-1 {
  position: fixed;
  right: 1.5rem;
  top: 1rem;
  color: #ffffb2;
  -ms-writing-mode: tb-rl;
      writing-mode: tb-rl;
  font-size: 3rem;
}
.nav-1-container .nav-1 .nav-1-link {
  padding: 1.5rem;
}
.nav-1-container .nav-1 .nav-1-link .num-rotate {
  color: #cc7048;
  font-size: 2rem;
  -ms-writing-mode: lr-tb;
      writing-mode: lr-tb;
}
.nav-1-container .nav-1 .nav-1-link:hover {
  color: #90d59c;
}

.nav-2-container .nav-2 {
  position: fixed;
  left: 2rem;
  bottom: 1rem;
  color: #ffffb2;
  font-size: 2rem;
  -ms-writing-mode: tb-rl;
      writing-mode: tb-rl;
}
.nav-2-container .nav-2 .nav-2-link {
  padding: 2rem;
}
.nav-2-container .nav-2 .nav-2-link:hover {
  color: #90d59c;
}

.intro {
  max-width: 1200px;
  margin: auto;
  padding-top: 10rem;
  padding-bottom: 20rem;
}
.intro .intro-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.intro .intro-container .intro-content {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: -1;
  text-align: left;
}
.intro .intro-container .intro-content .intro-1 {
  font-size: 12rem;
  color: #ffffb2;
}
.intro .intro-container .intro-content .intro-2 {
  margin: 2rem 1rem;
  font-size: 3rem;
  color: #90d59c;
}
.intro .intro-container .intro-content .intro-3 {
  margin: 2rem 1rem;
  font-size: 2rem;
  padding-top: 0.3rem;
  color: #68a8ab;
}

.about {
  max-width: 1200px;
  margin: auto;
  padding-top: 30rem;
  padding-bottom: 60rem;
}
.about .about-title {
  padding-top: 3rem;
  padding-bottom: 10rem;
  margin: 5rem;
  font-weight: normal;
  font-size: 3.5rem;
  color: #ffffb2;
}
.about .about-title .section-num {
  color: #cc7048;
}
.about .about-container {
  position: absolute;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.about .about-container .about-orbit-content {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: -1;
}
.about .about-container .about-orbit-content .orbit {
  padding: 23rem;
  width: 600px;
  height: 600px;
  border: 2px solid #775b5b;
  border-radius: 50%;
  -webkit-animation-name: orbit;
          animation-name: orbit;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.about .about-container .about-orbit-content .orbit .devicon-javascript-plain {
  position: absolute;
  margin: 17rem;
  padding: 2rem;
  font-size: 5.5rem;
  color: #ffffb2;
  border: 1px solid #d7B550;
  border-radius: 50%;
  -webkit-animation-name: orbit-reverse;
          animation-name: orbit-reverse;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  right: 57rem;
}
.about .about-container .about-orbit-content .orbit .devicon-css3-plain-wordmark {
  position: absolute;
  margin: 16rem;
  padding: 2rem;
  font-size: 4rem;
  color: #ffffb2;
  border: 1px solid #68a8ab;
  border-radius: 50%;
  -webkit-animation-name: orbit-reverse;
          animation-name: orbit-reverse;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  left: 57rem;
}
.about .about-container .about-orbit-content .orbit .devicon-html5-plain-wordmark {
  position: absolute;
  margin: 14rem;
  padding: 2rem;
  font-size: 4rem;
  color: #ffffb2;
  border: 1px solid #cc7048;
  border-radius: 50%;
  -webkit-animation-name: orbit-reverse;
          animation-name: orbit-reverse;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  bottom: 57rem;
}
.about .about-container .about-orbit-content .orbit .devicon-sass-original {
  position: absolute;
  margin: 16rem;
  padding: 2rem;
  font-size: 5rem;
  color: #ffffb2;
  border: 1px solid #cc7048;
  border-radius: 50%;
  -webkit-animation-name: orbit-reverse;
          animation-name: orbit-reverse;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  top: 57rem;
}
.about .about-container .about-text-content {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: -1;
}
.about .about-container .about-text-content .about-text {
  padding: 11rem;
  max-width: 600px;
  max-height: 600px;
  position: absolute;
  font-size: 1.4rem;
  color: #ffffb2;
}
.about .about-container .about-text-content .about-text::first-letter {
  margin-right: 1rem;
  float: left;
  font-size: 3rem;
  color: #90d59c;
}

@-webkit-keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes orbit-reverse {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes orbit-reverse {
  to {
    transform: rotate(-360deg);
  }
}
.projects {
  padding-top: 30rem;
  max-width: 1200px;
  margin: auto;
}
.projects .projects-title {
  padding-top: 4rem;
  padding-bottom: 5rem;
  margin: 5rem;
  font-weight: normal;
  font-size: 3.5rem;
  color: #ffffb2;
}
.projects .projects-title .section-num {
  color: #cc7048;
}
.projects .project-container-1 {
  max-width: 1200px;
  margin: auto;
}
.projects .project-container-1 .project {
  margin: 5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
}
@media screen and (max-width: 768px) {
  .projects .project-container-1 .project {
    align-items: flex-start;
  }
}
.projects .project-container-1 .project .project-content {
  position: relative;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row: 1/-1;
}
@media (max-width: 600px) {
  .projects .project-container-1 .project .project-content {
    grid-column: 1/-1;
    padding: 3.5rem;
  }
}
.projects .project-container-1 .project .project-content .project-label {
  color: #ffffb2;
  text-align: none;
}
.projects .project-container-1 .project .project-content .project-title {
  font-weight: normal;
  font-size: 3rem;
  margin: 1rem 0 2rem;
  color: #d7B550;
  text-align: none;
}
.projects .project-container-1 .project .project-content .project-details {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #2a242b;
}
@media (max-width: 600px) {
  .projects .project-container-1 .project .project-content .project-details {
    color: #ffffb2;
  }
}
.projects .project-container-1 .project .project-content .project-details p {
  background-color: #ffffb2;
  padding: 1.5rem 1.5rem;
  border-bottom: 4px solid #d7B550;
  border-left: 3px solid #d7B550;
  filter: brightness(0.95);
}
@media (max-width: 600px) {
  .projects .project-container-1 .project .project-content .project-details p {
    background-color: transparent;
    padding: 1.5rem 0;
    border: none;
  }
}
.projects .project-container-1 .project .project-content .project-details ul {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: none;
}
.projects .project-container-1 .project .project-content .project-details ul li {
  margin: 1.5rem;
  color: #d7B550;
}
.projects .project-container-1 .project .project-content .project-details ul li .project-github {
  font-size: 2rem;
}
.projects .project-container-1 .project .project-content .project-details ul li .project-github:hover {
  color: #90d59c;
}
.projects .project-container-1 .project-img {
  position: relative;
  z-index: -1;
  background: #d7B550;
  border-bottom: 1px solid #d7B550;
  border-left: 1px solid #d7B550;
  border-radius: 2px;
  grid-column-start: 8;
  grid-column-end: -1;
  grid-row: 1/-1;
}
@media screen and (max-width: 768px) {
  .projects .project-container-1 .project-img {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .projects .project-container-1 .project-img {
    grid-column: 1/-1;
    opacity: 0.25;
  }
}
.projects .project-container-1 .project-img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: #d7B550;
  opacity: 20%;
  mix-blend-mode: screen;
  border-radius: 2px;
}
.projects .project-container-1 .project-img img {
  border-radius: 2px;
  position: relative;
  mix-blend-mode: multiply;
  filter: grayscale(10%) contrast(1);
  border: 1px solid #2a242b;
}
@media screen and (max-width: 768px) {
  .projects .project-container-1 .project-img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: auto;
    height: 100%;
  }
}
.projects .project-container-2 {
  max-width: 1200px;
  margin: auto;
}
.projects .project-container-2 .project {
  margin: 5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
}
@media screen and (max-width: 768px) {
  .projects .project-container-2 .project {
    align-items: flex-start;
  }
}
.projects .project-container-2 .project .project-content {
  position: relative;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row: 1/-1;
}
@media (max-width: 600px) {
  .projects .project-container-2 .project .project-content {
    grid-column: 1/-1;
    padding: 3.5rem;
  }
}
.projects .project-container-2 .project .project-content .project-label {
  color: #ffffb2;
  text-align: end;
}
.projects .project-container-2 .project .project-content .project-title {
  font-weight: normal;
  font-size: 3rem;
  margin: 1rem 0 2rem;
  color: #cc7048;
  text-align: end;
}
.projects .project-container-2 .project .project-content .project-details {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #2a242b;
}
@media (max-width: 600px) {
  .projects .project-container-2 .project .project-content .project-details {
    color: #ffffb2;
  }
}
.projects .project-container-2 .project .project-content .project-details p {
  background-color: #ffffb2;
  padding: 1.5rem 1.5rem;
  border-bottom: 4px solid #cc7048;
  border-right: 3px solid #cc7048;
  filter: brightness(0.95);
}
@media (max-width: 600px) {
  .projects .project-container-2 .project .project-content .project-details p {
    background-color: transparent;
    padding: 1.5rem 0;
    border: none;
  }
}
.projects .project-container-2 .project .project-content .project-details ul {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: end;
}
.projects .project-container-2 .project .project-content .project-details ul li {
  margin: 1.5rem;
  color: #cc7048;
}
.projects .project-container-2 .project .project-content .project-details ul li .project-github {
  font-size: 2rem;
}
.projects .project-container-2 .project .project-content .project-details ul li .project-github:hover {
  color: #90d59c;
}
.projects .project-container-2 .project-img {
  position: relative;
  z-index: -1;
  background: #cc7048;
  border-bottom: 1px solid #cc7048;
  border-right: 1px solid #cc7048;
  border-radius: 2px;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 1/-1;
}
@media screen and (max-width: 768px) {
  .projects .project-container-2 .project-img {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .projects .project-container-2 .project-img {
    grid-column: 1/-1;
    opacity: 0.25;
  }
}
.projects .project-container-2 .project-img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: #cc7048;
  opacity: 20%;
  mix-blend-mode: screen;
  border-radius: 2px;
}
.projects .project-container-2 .project-img img {
  border-radius: 2px;
  position: relative;
  mix-blend-mode: multiply;
  filter: grayscale(10%) contrast(1);
  border: 1px solid #2a242b;
}
@media screen and (max-width: 768px) {
  .projects .project-container-2 .project-img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: auto;
    height: 100%;
  }
}
.projects .project-container-3 {
  max-width: 1200px;
  margin: auto;
}
.projects .project-container-3 .project {
  margin: 5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
}
@media screen and (max-width: 768px) {
  .projects .project-container-3 .project {
    align-items: flex-start;
  }
}
.projects .project-container-3 .project .project-content {
  position: relative;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row: 1/-1;
}
@media (max-width: 600px) {
  .projects .project-container-3 .project .project-content {
    grid-column: 1/-1;
    padding: 3.5rem;
  }
}
.projects .project-container-3 .project .project-content .project-label {
  color: #ffffb2;
  text-align: none;
}
.projects .project-container-3 .project .project-content .project-title {
  font-weight: normal;
  font-size: 3rem;
  margin: 1rem 0 2rem;
  color: #d7B550;
  text-align: none;
}
.projects .project-container-3 .project .project-content .project-details {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #2a242b;
}
@media (max-width: 600px) {
  .projects .project-container-3 .project .project-content .project-details {
    color: #ffffb2;
  }
}
.projects .project-container-3 .project .project-content .project-details p {
  background-color: #ffffb2;
  padding: 1.5rem 1.5rem;
  border-bottom: 4px solid #d7B550;
  border-left: 3px solid #d7B550;
  filter: brightness(0.95);
}
@media (max-width: 600px) {
  .projects .project-container-3 .project .project-content .project-details p {
    background-color: transparent;
    padding: 1.5rem 0;
    border: none;
  }
}
.projects .project-container-3 .project .project-content .project-details ul {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: none;
}
.projects .project-container-3 .project .project-content .project-details ul li {
  margin: 1.5rem;
  color: #d7B550;
}
.projects .project-container-3 .project .project-content .project-details ul li .project-github {
  font-size: 2rem;
}
.projects .project-container-3 .project .project-content .project-details ul li .project-github:hover {
  color: #90d59c;
}
.projects .project-container-3 .project-img {
  position: relative;
  z-index: -1;
  background: #d7B550;
  border-bottom: 1px solid #d7B550;
  border-left: 1px solid #d7B550;
  border-radius: 2px;
  grid-column-start: 8;
  grid-column-end: -1;
  grid-row: 1/-1;
}
@media screen and (max-width: 768px) {
  .projects .project-container-3 .project-img {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .projects .project-container-3 .project-img {
    grid-column: 1/-1;
    opacity: 0.25;
  }
}
.projects .project-container-3 .project-img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: #d7B550;
  opacity: 20%;
  mix-blend-mode: screen;
  border-radius: 2px;
}
.projects .project-container-3 .project-img img {
  border-radius: 2px;
  position: relative;
  mix-blend-mode: multiply;
  filter: grayscale(10%) contrast(1);
  border: 1px solid #2a242b;
}
@media screen and (max-width: 768px) {
  .projects .project-container-3 .project-img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: auto;
    height: 100%;
  }
}
.projects .project-container-4 {
  max-width: 1200px;
  margin: auto;
}
.projects .project-container-4 .project {
  margin: 5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
}
@media screen and (max-width: 768px) {
  .projects .project-container-4 .project {
    align-items: flex-start;
  }
}
.projects .project-container-4 .project .project-content {
  position: relative;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row: 1/-1;
}
@media (max-width: 600px) {
  .projects .project-container-4 .project .project-content {
    grid-column: 1/-1;
    padding: 3.5rem;
  }
}
.projects .project-container-4 .project .project-content .project-label {
  color: #ffffb2;
  text-align: end;
}
.projects .project-container-4 .project .project-content .project-title {
  font-weight: normal;
  font-size: 3rem;
  margin: 1rem 0 2rem;
  color: #cc7048;
  text-align: end;
}
.projects .project-container-4 .project .project-content .project-details {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #2a242b;
}
@media (max-width: 600px) {
  .projects .project-container-4 .project .project-content .project-details {
    color: #ffffb2;
  }
}
.projects .project-container-4 .project .project-content .project-details p {
  background-color: #ffffb2;
  padding: 1.5rem 1.5rem;
  border-bottom: 4px solid #cc7048;
  border-right: 3px solid #cc7048;
  filter: brightness(0.95);
}
@media (max-width: 600px) {
  .projects .project-container-4 .project .project-content .project-details p {
    background-color: transparent;
    padding: 1.5rem 0;
    border: none;
  }
}
.projects .project-container-4 .project .project-content .project-details ul {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: end;
}
.projects .project-container-4 .project .project-content .project-details ul li {
  margin: 1.5rem;
  color: #cc7048;
}
.projects .project-container-4 .project .project-content .project-details ul li .project-github {
  font-size: 2rem;
}
.projects .project-container-4 .project .project-content .project-details ul li .project-github:hover {
  color: #90d59c;
}
.projects .project-container-4 .project-img {
  position: relative;
  z-index: -1;
  background: #cc7048;
  border-bottom: 1px solid #cc7048;
  border-right: 1px solid #cc7048;
  border-radius: 2px;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 1/-1;
}
@media screen and (max-width: 768px) {
  .projects .project-container-4 .project-img {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .projects .project-container-4 .project-img {
    grid-column: 1/-1;
    opacity: 0.25;
  }
}
.projects .project-container-4 .project-img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: #cc7048;
  opacity: 20%;
  mix-blend-mode: screen;
  border-radius: 2px;
}
.projects .project-container-4 .project-img img {
  border-radius: 2px;
  position: relative;
  mix-blend-mode: multiply;
  filter: grayscale(10%) contrast(1);
  border: 1px solid #2a242b;
}
@media screen and (max-width: 768px) {
  .projects .project-container-4 .project-img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: auto;
    height: 100%;
  }
}

.contact {
  max-width: 1200px;
  margin: auto;
}
.contact .contact-title {
  margin: 5rem;
  font-weight: normal;
  font-size: 3.5rem;
  color: #ffffb2;
}
.contact .contact-title .section-num {
  color: #cc7048;
}
.contact .contact-container {
  padding-top: 30rem;
  padding-bottom: 30rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.contact .contact-container .contact-email-content {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: -1;
  text-align: center;
}
.contact .contact-container .contact-email-content .email-label {
  color: #cc7048;
  font-size: 3rem;
}
.contact .contact-container .contact-email-content .email-icon {
  height: 20rem;
  margin-top: 4rem;
  margin-left: 4.5rem;
  color: #ffffb2;
  fill: currentcolor;
}
.contact .contact-container .contact-email-content .email-icon:hover {
  color: #90d59c;
}
.contact .contact-container .contact-form-content {
  position: relative;
  grid-column-start: 7;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}
.contact .contact-container .contact-form-content .form-label {
  padding-bottom: 6rem;
  color: #cc7048;
  font-size: 3rem;
}
.contact .contact-container .contact-form-content .email-input {
  margin: 3rem 0;
}
.contact .contact-container .contact-form-content .email-input input {
  font-size: 1.6rem;
  padding: 1rem;
  display: block;
  width: 30rem;
  height: 3rem;
  border: none;
  border-bottom: 1px solid #775b5b;
  background-color: #2a242b;
  color: #ffffb2;
  resize: none;
}
.contact .contact-container .contact-form-content .email-input input:focus {
  font-size: 1.6rem;
  color: #ffffb2;
  outline: none;
  border-bottom: 1px solid #90d59c;
}
.contact .contact-container .contact-form-content .email-input label {
  padding-bottom: 1rem;
  color: #ffffb2;
  font-size: 2rem;
}
.contact .contact-container .contact-form-content .text-input {
  margin: 3rem 0;
}
.contact .contact-container .contact-form-content .text-input textarea {
  font-size: 1.6rem;
  padding: 1rem;
  display: block;
  width: 50rem;
  height: 15rem;
  border: none;
  border: 1px solid #775b5b;
  background-color: #2a242b;
  color: #ffffb2;
  resize: none;
}
.contact .contact-container .contact-form-content .text-input textarea:focus {
  font-size: 1.6rem;
  color: #ffffb2;
  outline: none;
  border: 1px solid #90d59c;
}
.contact .contact-container .contact-form-content .text-input label {
  padding-bottom: 1rem;
  color: #ffffb2;
  font-size: 2rem;
}
.contact .contact-container .contact-form-content .text-input ::-webkit-scrollbar {
  width: 10px;
}
.contact .contact-container .contact-form-content .submit-form .submit-button {
  width: 20rem;
  height: 3rem;
  color: #ffffb2;
  background-color: #2a242b;
  border: 1px solid #775b5b;
}
.contact .contact-container .contact-form-content .submit-form .submit-button:hover {
  color: #90d59c;
  background-color: #68a8ab;
  border: 1px solid #90d59c;
}

.footer {
  margin: 2rem;
  font-size: 1.3rem;
  color: #ffffb2;
  text-align: center;
}
.footer .footer-name {
  color: #90d59c;
}/*# sourceMappingURL=vanfleet_dev_portfolio.css.map */