// global ////////////////////////////////////////////////////////////////////////
$color-1: #2a242b;
$color-2: #464040;
$color-3: #775b5b;
$color-4: #cc7048;
$color-5: #d7B550;
$color-6: #68a8ab;
$color-7: #90d59c;
$color-8: #ffffb2;

* {
margin: 0;
padding: 0;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: $color-1; 
  }

  ::-webkit-scrollbar-thumb {
    background: $color-3; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $color-7; 
  }
}

body {
  background-color: $color-1;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 'Inter', "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

// mixin ////////////////////////////////////////////////////////////////////////

// grid
@mixin grid-setup {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

@mixin grid-position ($col-start, $col-end, $row-start, $row-end) {
  position: relative;
  grid-column-start: $col-start;
  grid-column-end: $col-end;
  grid-row-start: $row-start;
  grid-row-end: $row-end;
}

// breakpoint
@mixin tablet {
  @media (max-width: 600px) {
    @content;
  }
}

// generic section setup
@mixin section-setup {
  max-width: 1200px;
  margin: auto;
}

// about mixin
@mixin orbit-setup($color-var, $font-size-orbit-var, $margin-orbit-var) {
  position: absolute;
  margin: $margin-orbit-var;
  padding: 2rem;
  font-size: $font-size-orbit-var;
  color: $color-8;
  border: 1px solid $color-var;
  border-radius: 50%;
}

@mixin orbit-animation() {
  animation-name: orbit-reverse;
  animation-duration: 36s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} 

// project template mixin
@mixin project-template($project-color-var, $text-align-var, $content-align-start-var, $content-align-end-var, $justify-content-var, $left-or-right-var) {
  .project {
    margin: 5rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;

    @media screen and (max-width: 768px) {
      align-items: flex-start;
    }

    .project-content {
      position: relative;
      grid-column-start: $content-align-start-var;
      grid-column-end: $content-align-end-var;
      grid-row: 1 / -1;
    
      @include tablet {
        grid-column: 1 / -1;
        padding: 3.5rem;
      }
    
      .project-label {
        color: $color-8;
        text-align: $text-align-var;
      }

      .project-title {
        font-weight: normal;
        font-size: 3rem;
        margin: 1rem 0 2rem;
        color: $project-color-var;
        text-align: $text-align-var;
      }

      .project-details {
        font-size: 1.4rem;
        line-height: 1.5;
        color: $color-1;

        @include tablet {
          color: $color-8;
        }
    
        p {
          background-color: $color-8;
          padding: 1.5rem 1.5rem;
          border-bottom: 4px solid $project-color-var;
          border-#{$left-or-right-var}: 3px solid $project-color-var;

          filter: brightness(.95);
          
          @include tablet {
            background-color: transparent;
            padding: 1.5rem 0;
            border: none;
          }
        }

        ul {
          display: flex;
          margin-top: 1.5rem;
          align-items: center;
          justify-content: $justify-content-var;
    
          li {
            margin: 1.5rem;
            color: $project-color-var;

            .project-github {
              font-size: 2rem;

              &:hover {
                color: $color-7;
              }
            }
          }
        }
      }
    }
  }
}

// project image mixin
@mixin project-img-template ($project-color-var, $content-align-var-start, $content-align-var-end, $left-or-right-var) {
  .project-img {
    position: relative;
    z-index: -1;
    background: $project-color-var;
    border-bottom: 1px solid $project-color-var;
    border-#{$left-or-right-var}: 1px solid $project-color-var;
    border-radius: 2px;
    grid-column-start: $content-align-var-start;
    grid-column-end: $content-align-var-end;
    grid-row: 1 / -1;

    @media screen and (max-width: 768px) {
      height: 100%;
    }
    @include tablet {
      grid-column: 1 / -1;
      opacity: 0.25;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      background-color: $project-color-var; //picture vfx
      opacity: calc(20%); //picture vfx
      mix-blend-mode: screen;
      border-radius: 2px;
    }

    img {
      border-radius: 2px;
      position: relative;
      mix-blend-mode: multiply;
      filter: grayscale(10%) contrast(1); //picture vfx
      border: 1px solid $color-1;
        
      @media screen and (max-width: 768px) {
        object-fit: cover;
        width: auto;
        height: 100%;
      }
    }
  }
}

// logo & nav ////////////////////////////////////////////////////////////////////

// logo 

// nav right

.nav-1-container {
  .nav-1 {
    position: fixed;
    right: 1.5rem;
    top: 1rem;
    color: $color-8;
    writing-mode: tb-rl;
    font-size: 3rem;

    .nav-1-link {
      padding: 1.5rem;
  
      .num-rotate {
        color: $color-4;
        font-size: 2rem;
        writing-mode: lr-tb;

      }

      &:hover {
        color: $color-7;
      }
    }
  }
}


// icons left

.nav-2-container {
  .nav-2 {
    position: fixed;
    left: 2rem;
    bottom: 1rem;
    color: $color-8;
    font-size: 2rem;
    writing-mode: tb-rl;
  
    .nav-2-link {
      padding: 2rem;

      &:hover {
        color: $color-7;
      }
    }
  }
}

//sections////////////////////////////////////////////////////////////////////////

// intro

.intro {
  @include section-setup();
  padding-top: 10rem;
  padding-bottom: 20rem;

  .intro-container {
    @include grid-setup();
        
    .intro-content {
      @include grid-position (3, 9, 1, -1);
      text-align: left;

      .intro-1 {
        font-size: 12rem;
        color: $color-8;
      }
  
      .intro-2 {
        margin: 2rem 1rem;
        font-size: 3rem;
        color: $color-7;
      }
  
      .intro-3 {
        margin: 2rem 1rem;
        font-size: 2rem;
        padding-top: .3rem;
        color: $color-6;
      }
    }
  }
}

// about

.about {
  @include section-setup();
  padding-top: 20rem;
  padding-bottom: 60rem;

  .about-title {
    padding-top: 3rem;
    padding-bottom: 10rem;
    margin: 5rem;
    font-weight: normal;
    font-size: 3.5rem;
    color: $color-8;

    .section-num {
      color: $color-4;
    }
  }

  .about-container {
    position: absolute;
    @include grid-setup();

    .about-orbit-content {
      @include grid-position (3, 9, 1, -1);

      .orbit {
        padding: 23rem;
        width: 600px;
        height: 600px;
        border: 2px solid $color-3;
        border-radius: 50%;
        /// interpolate "orbit-#{PUT A NUMBER HERE}" and give each orbit animation its own 
        /// orbit like orbit-1, orbit-2, etc. make orbit animation classes "part 1 and part 2".
        animation-name: orbit;
        animation-duration: 36s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        /////
        .devicon-javascript-plain {
          @include orbit-setup($color-5, 5.5rem, 6rem);
          @include orbit-animation();
          right: 57rem;
        }

        .devicon-css3-plain-wordmark {
          @include orbit-setup($color-6, 4rem, 9rem);
          @include orbit-animation();
          left: 57rem;
        }

        .devicon-html5-plain-wordmark {
          @include orbit-setup($color-4, 4rem, 8rem);
          @include orbit-animation();
          bottom: 57rem;
        }
        
        .devicon-sass-original {
          @include orbit-setup($color-4, 5rem, 5.5rem);
          @include orbit-animation();
          top: 57rem;
        }
      }
    }

    .about-text-content {
      @include grid-position (3, 9, 1, -1);

      .about-text {
        padding: 10rem;
        max-width: 600px;
        max-height: 600px;
        position: absolute;
        font-size: 1.4rem;
        color: $color-8;
  
        &::first-letter {
          margin-right: 1rem;
          float: left;
          font-size: 3rem;
          color: $color-7;
        }
      }
    }
  }
}

@keyframes orbit {
  to { transform: rotate(360deg) }
}

@keyframes orbit-reverse {
  to { transform: rotate(-360deg) }
}

// projects
.projects {
  padding-top: 30rem;
  @include section-setup();

  .projects-title {
    padding-top: 4rem;
    padding-bottom: 5rem;
    margin: 5rem;
    font-weight: normal;
    font-size: 3.5rem;
    color: $color-8;
    
    .section-num {
      color: $color-4;
    }
  }

  .project-container-1 {
    @include section-setup();
    @include project-template ($color-5, none, 5, 9, none, left);
    @include project-img-template ($color-5, 8, -1, left);
  }

  .project-container-2 {
    @include section-setup();
    @include project-template ($color-4, end, 5, 9, end, right);
    @include project-img-template ($color-4, 1, 6, right);
  }

  .project-container-3 {
    @include section-setup();
    @include project-template ($color-5, none, 5, 9, none, left);
    @include project-img-template ($color-5, 8, -1, left);
  }

  .project-container-4 {
    @include section-setup();
    @include project-template ($color-4, end, 5, 9, end, right);
    @include project-img-template ($color-4, 1, 6, right);
  }
}
  

// contact

//footer

.footer {
  margin: 2rem;
  font-size: 1.3rem;
  color: $color-8;
  text-align: center;

  .footer-name {
    color: $color-7;
  }
}
