@font-face {
  font-family: "Public Pixel";
  src: url("./font/PublicPixel.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Public Pixel";
  background-color: #140f0c;
  color: #e47d36;
  line-height: 1.5;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  transition: color 0.25s ease;
}

br {
  content: " ";
  display: block;
  margin: 2rem;
}

.container {
  position: relative;
  margin: 10rem;
  width: 1000px;
  display: flex;
  align-items: flex-start;
  margin: 5rem auto;
  padding: 3rem;
}
.container .sections {
  position: relative;
  z-index: 3;
}
.container .sections .section {
  width: 80px;
  height: 10rem;
  text-align: left;
  font-size: 2rem;
  padding: 4rem 1rem;
  transition: all 0.25s ease;
  border-left: 2px solid #6d5334;
  color: #6d5334;
}
.container .sections .section:hover {
  color: #e47d36;
}
.container .sections .section.active {
  color: #e47d36;
}
.container .sections .section.section-1.active ~ .highlighter {
  transform: translateY(0rem);
}
.container .sections .section.section-2.active ~ .highlighter {
  transform: translateY(10rem);
}
.container .sections .section.section-3.active ~ .highlighter {
  transform: translateY(20rem);
}
.container .sections .section.section-4.active ~ .highlighter {
  transform: translateY(30rem);
}
.container .sections .section.section-5.active ~ .highlighter {
  transform: translateY(40rem);
}
.container .sections .highlighter {
  display: block;
  background: #e47d36;
  width: 3px;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
  transition-delay: 0.1s;
  z-index: 10;
}
.container .content {
  position: relative;
}
.container .content .home {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
}
.container .content .home .home_static {
  position: absolute;
  width: 700px;
  margin: 5rem;
  border: 2px solid #e47d36;
}
.container .content .home .home_static:hover {
  opacity: 0;
}
.container .content .home .home_active {
  width: 700px;
  margin: 5rem;
  border: 2px solid #e47d36;
}
.container .content .about {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}
.container .content .about .tabs {
  display: flex;
  flex-wrap: wrap;
}
.container .content .about .tabs input[type=radio] {
  display: none;
}
.container .content .about .tabs input[type=radio]:checked + label {
  border: 3px solid #e47d36;
}
.container .content .about .tabs input[type=radio]:checked + label + .tab {
  display: block;
}
.container .content .about .tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  border: 2px solid #6d5334;
  cursor: pointer;
}
.container .content .about .tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 800px;
  display: none;
  padding: 2rem;
  border: 2px solid #e47d36;
}
.container .content .about .tabs .brief_title {
  margin: 3rem;
}
.container .content .about .tabs .brief_main {
  font-size: 1.2rem;
}
.container .content .about .tabs .brief_legal {
  margin-top: 3rem;
  font-size: 0.8rem;
}
@media (max-width: 45em) {
  .container .content .about .tabs .tab,
.container .content .about .tabs label {
    order: initial;
  }
  .container .content .about .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
.container .content_section {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 0s ease;
}
.container .content_section.visible {
  position: relative;
  opacity: 1;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
  z-index: 2;
}/*# sourceMappingURL=game_website.css.map */