@font-face {
  font-family: "Public Pixel";
  src: url("./font/PublicPixel.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Public Pixel";
  background-color: #140f0c;
  color: #e47d36;
  line-height: 2.3rem;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  transition: color 0.25s ease;
}

br {
  content: " ";
  display: block;
  margin: 2rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

.sub-section-title {
  text-align: center;
  font-size: 1.5rem;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  padding: 2rem 0;
}

.sub-section-body {
  border: 1px dotted #6d5334;
  padding: 2rem 1rem;
}

.container {
  position: relative;
  margin: 10rem;
  width: 1000px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  padding: 3rem;
}
.container .sections {
  position: relative;
  z-index: 3;
}
.container .sections .section {
  width: 80px;
  height: 10rem;
  text-align: left;
  font-size: 2rem;
  padding: 4rem 1rem;
  transition: all 0.25s ease;
  border-left: 2px solid #6d5334;
  color: #6d5334;
}
.container .sections .section:hover {
  color: #e47d36;
}
.container .sections .section.active {
  color: #e47d36;
}
.container .sections .section.section-1.active ~ .highlighter {
  transform: translateY(0rem);
}
.container .sections .section.section-2.active ~ .highlighter {
  transform: translateY(10rem);
}
.container .sections .section.section-3.active ~ .highlighter {
  transform: translateY(20rem);
}
.container .sections .section.section-4.active ~ .highlighter {
  transform: translateY(30rem);
}
.container .sections .section.section-5.active ~ .highlighter {
  transform: translateY(40rem);
}
.container .sections .highlighter {
  display: block;
  background: #e47d36;
  width: 3px;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
  transition-delay: 0.1s;
  z-index: 10;
}
.container .content {
  position: relative;
}
.container .content .home {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}
.container .content .home .title {
  margin: 3rem 10rem 5rem 10rem;
}
.container .content .home .home_static {
  position: absolute;
  width: 700px;
  height: 500px;
  margin: 10rem;
  border: 2px solid #e47d36;
}
.container .content .home .home_static:hover {
  opacity: 0;
}
.container .content .home .home_active {
  width: 700px;
  height: 500px;
  margin: 10rem;
  border: 2px solid #e47d36;
}
.container .content .about {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}
.container .content .about .tabs {
  display: flex;
  flex-wrap: wrap;
}
.container .content .about .tabs input[type=radio] {
  display: none;
}
.container .content .about .tabs input[type=radio]:checked + label {
  border: 3px solid #e47d36;
}
.container .content .about .tabs input[type=radio]:checked + label + .tab {
  display: block;
}
.container .content .about .tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  border: 2px solid #6d5334;
  cursor: pointer;
}
.container .content .about .tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 800px;
  display: none;
  padding: 0 2rem;
  border: 2px solid #e47d36;
}
.container .content .about .tabs .brief_header {
  text-align: center;
  margin: 1rem auto;
  border: 3px dotted #6d5334;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  font-size: 1.5rem;
  padding: 2rem;
}
.container .content .about .tabs .inbox {
  text-align: center;
  margin-top: 2rem;
  border-top: none;
  font-size: 1.7rem;
  padding-bottom: 1rem;
  -webkit-animation: blink 3s linear infinite;
          animation: blink 3s linear infinite;
}
.container .content .about .tabs .inbox span {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.container .content .about .tabs .from {
  margin: 1rem auto;
  border: 2px dotted #6d5334;
  font-size: 1.2rem;
  padding: 1.5rem;
}
.container .content .about .tabs .from span {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
.container .content .about .tabs .to {
  margin: 1rem auto;
  border: 2px dotted #6d5334;
  font-size: 1.2rem;
  padding: 1.5rem;
}
.container .content .about .tabs .to span {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
.container .content .about .tabs .subject {
  margin: 1rem auto;
  border: 2px dotted #6d5334;
  font-size: 1.2rem;
  padding: 1.5rem;
}
.container .content .about .tabs .subject span {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
.container .content .about .tabs .brief_main {
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  border-left: 3px dotted #6d5334;
  border-right: 3px dotted #6d5334;
  padding: 4.5rem;
  margin: 1rem;
}
.container .content .about .tabs .brief_main .brief_legal {
  margin-top: 3rem;
  font-size: 0.75rem;
  padding: 1rem;
}
.container .content .about .tabs .ship_container {
  position: relative;
}
.container .content .about .tabs .ship_container .filler {
  height: 300px;
}
.container .content .about .tabs .ship_container .ship_1_gif {
  position: absolute;
  left: 10px;
  top: 570px;
  width: 325px;
  border: 3px dotted #6d5334;
}
.container .content .about .tabs .ship_container .ship_2_gif {
  position: absolute;
  left: 400px;
  top: 570px;
  width: 325px;
  border: 3px dotted #6d5334;
}
.container .content .about .tabs .ship_container .ship_1_overlay {
  position: absolute;
  left: 20px;
  top: 800px;
  font-size: 1.2rem;
}
.container .content .about .tabs .ship_container .ship_2_overlay {
  position: absolute;
  left: 410px;
  top: 800px;
  font-size: 1.2rem;
}
.container .content .about .tabs .mine_container {
  position: relative;
}
.container .content .about .tabs .mine_container .filler {
  height: 384px;
}
.container .content .about .tabs .mine_container .mine_1_gif {
  position: absolute;
  left: 10px;
  top: 530px;
  width: 325px;
  border: 3px dotted #6d5334;
}
.container .content .about .tabs .mine_container .mine_2_gif {
  position: absolute;
  left: 400px;
  top: 530px;
  width: 325px;
  border: 3px dotted #6d5334;
}
.container .content .about .tabs .mine_container .mine_1_overlay {
  position: absolute;
  left: 20px;
  top: 800px;
  font-size: 1.2rem;
}
.container .content .about .tabs .mine_container .mine_2_overlay {
  position: absolute;
  left: 410px;
  top: 800px;
  font-size: 1.2rem;
}
.container .content .about .tabs .station_container {
  position: relative;
}
.container .content .about .tabs .station_container .station_icon {
  position: absolute;
  left: 550px;
  top: 235px;
}
.container .content .about .tabs .upgrades_container {
  position: relative;
}
.container .content .about .tabs .upgrades_container .upgrade_icon {
  position: absolute;
  left: 640px;
  top: 90px;
}
.container .content .about .tabs .disclaimer {
  font-size: 0.8rem;
  margin-top: 7rem;
  margin-bottom: 4rem;
}
.container .content .about .tabs .recon_container {
  position: relative;
}
.container .content .about .tabs .recon_container .recon_briefing {
  width: 40rem;
  line-height: 2.5rem;
}
.container .content .about .tabs .recon_container .recon-gif-container {
  position: absolute;
  left: 360px;
  top: 390px;
  border: 3px dotted #e47d36;
}
.container .content .about .tabs .recon_container .recon-gif-container .recon_gif {
  height: 250px;
  filter: grayscale(100%) contrast(130%) brightness(150%);
}
.container .content .about .tabs .recon_container::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 250px;
  left: 360px;
  top: 390px;
  z-index: 1;
  background-color: #e47d36;
  opacity: 0.3;
}
.container .content .about .tabs .recon_container .recon_overlay {
  position: absolute;
  left: 375px;
  top: 645px;
  font-size: 1rem;
}
@media (max-width: 45em) {
  .container .content .about .tabs .tab,
.container .content .about .tabs label {
    order: initial;
  }
  .container .content .about .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
.container .content .map .bg-stars-container {
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: -1;
}
.container .content .map .bg-stars-container .bg-stars {
  filter: grayscale(70%) contrast(100%) brightness(100%);
}
.container .content .map .station-container {
  position: absolute;
  left: 375px;
  top: 480px;
  z-index: 2;
}
.container .content .map .station-container .station-1 {
  width: 50px;
  height: 50px;
  filter: grayscale(100%) contrast(130%) brightness(100%);
}
.container .content .map .sun-container {
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 3;
  border: 3px dotted #e47d36;
}
.container .content .map .sun-container .sun-1 {
  position: absolute;
  top: 300px;
  left: 310px;
  width: 175px;
  height: 175px;
  filter: grayscale(90%) contrast(100%) brightness(100%);
}
.container .content .map .sun-container::before {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 4;
  background-color: #e47d36;
  opacity: 0.2;
}
.container .content .map .orbit-container {
  position: absolute;
  top: 435px;
  left: 400px;
}
.container .content .map .orbit-container .orbit-planet-1 {
  position: absolute;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: orbit-ccw;
          animation-name: orbit-ccw;
}
.container .content .map .orbit-container .orbit-planet-1 .planet-1 {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  right: 60px;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  filter: grayscale(100%) contrast(130%) brightness(150%);
}
.container .content .map .orbit-container .orbit-planet-2 {
  position: absolute;
  -webkit-animation-duration: 53s;
          animation-duration: 53s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: orbit-cw;
          animation-name: orbit-cw;
}
.container .content .map .orbit-container .orbit-planet-2 .planet-2 {
  position: absolute;
  z-index: 1;
  width: 35px;
  height: 35px;
  right: 140px;
  -webkit-animation-duration: 53s;
          animation-duration: 53s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  filter: grayscale(100%) contrast(130%) brightness(100%);
}
.container .content .map .orbit-container .orbit-moon-1 {
  position: absolute;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  right: 157px;
  top: 16px;
  -webkit-animation-name: orbit-ccw;
          animation-name: orbit-ccw;
}
.container .content .map .orbit-container .orbit-moon-1 .moon-1 {
  position: absolute;
  z-index: 1;
  width: 13px;
  height: 13px;
  right: 35px;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  filter: grayscale(100%) contrast(130%) brightness(140%);
  -webkit-animation-name: orbit-cw;
          animation-name: orbit-cw;
}
.container .content .map .orbit-container .orbit-planet-3 {
  position: absolute;
  -webkit-animation-duration: 90s;
          animation-duration: 90s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: orbit-ccw;
          animation-name: orbit-ccw;
}
.container .content .map .orbit-container .orbit-planet-3 .planet-3 {
  position: absolute;
  z-index: 1;
  width: 55px;
  height: 55px;
  right: 272px;
  -webkit-animation-duration: 90s;
          animation-duration: 90s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  filter: grayscale(100%) contrast(130%) brightness(80%);
}
.container .content .map .orbit-container .orbit-moon-2 {
  position: absolute;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  right: 300px;
  top: 25px;
  -webkit-animation-name: orbit-cw;
          animation-name: orbit-cw;
}
.container .content .map .orbit-container .orbit-moon-2 .moon-2 {
  position: absolute;
  z-index: 1;
  width: 14px;
  height: 14px;
  right: 77px;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  filter: grayscale(100%) contrast(130%) brightness(120%);
  -webkit-animation-name: orbit-ccw;
          animation-name: orbit-ccw;
}
.container .content .map .orbit-container .orbit-moon-3 {
  position: absolute;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  right: 300px;
  top: 25px;
  -webkit-animation-name: orbit-cw;
          animation-name: orbit-cw;
}
.container .content .map .orbit-container .orbit-moon-3 .moon-3 {
  position: absolute;
  z-index: 1;
  width: 16px;
  height: 16px;
  right: 44px;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  filter: grayscale(100%) contrast(130%) brightness(90%);
  -webkit-animation-name: orbit-ccw;
          animation-name: orbit-ccw;
}
.container .content .map .orbit-container .orbit-moon-4 {
  position: absolute;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  right: 300px;
  top: 25px;
  -webkit-animation-name: orbit-ccw;
          animation-name: orbit-ccw;
}
.container .content .map .orbit-container .orbit-moon-4 .moon-4 {
  position: absolute;
  z-index: 1;
  width: 10px;
  height: 10px;
  right: 63px;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  filter: grayscale(100%) contrast(130%) brightness(100%);
  -webkit-animation-name: orbit-cw;
          animation-name: orbit-cw;
}
.container .content .map .orbit-container .orbit-ring-1 .ring-1 {
  position: absolute;
  z-index: 1;
  width: 82px;
  height: 82px;
  right: 258px;
  top: -14px;
  -webkit-animation-name: orbit-cw;
          animation-name: orbit-cw;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  filter: grayscale(100%) contrast(130%) brightness(500%);
}
.container .content .map .filler {
  width: 800px;
  height: 800px;
}
@-webkit-keyframes orbit-cw {
  to {
    transform: rotate(360deg);
  }
}
@keyframes orbit-cw {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes orbit-ccw {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes orbit-ccw {
  to {
    transform: rotate(-360deg);
  }
}
.container .content_section {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 0s ease;
}
.container .content_section.visible {
  position: relative;
  opacity: 1;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
  z-index: 2;
}/*# sourceMappingURL=game_website.css.map */