// globals ////////////////////////////////////// 

$spacing: 10rem;
$section-height: 10rem;

$color-1: #e47d36;
$color-2: #140f0c;
$color-3: #6d5334;

@font-face {
  font-family: "Public Pixel";
  src: url("./font/PublicPixel.ttf");
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
html,
body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
  
body {
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Public Pixel";
  background-color: $color-2;
  color: $color-1;
  line-height: 1.5;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  transition: color 0.25s ease;
}

br {
    content: " ";
    display: block;
    margin: 2rem;;
}
  
/////////////////////////////////////////////////////
  
.container {
  position: relative;
  margin: 10rem;
  width: 1000px;
  display: flex;
  align-items: flex-start;
  margin: 5rem auto;
  padding: 3rem;
  
    .sections {
      //display: block;
      position: relative;
      z-index: 3;
      //width: max-content;
  
        .section {
          width: 80px;
          height: $section-height;
          text-align: left;
          font-size: 2rem;
          padding: 4rem 1rem;
          transition: all 0.25s ease;
          border-left: 2px solid $color-3;
          color: $color-3;
    
            &:hover {
              color: $color-1;
            }
    
            &.active {
              color: $color-1;
            }
    
            @for $i from 1 through 5 {
                &.section-#{$i}.active {
                    & ~ .highlighter {
                      transform: translateY(#{($i*$section-height) - $section-height});
                    }
                }
            }
            
        }
  
        .highlighter {
          display: block;
          background: $color-1;
          width: 3px;
          height: $section-height;
          position: absolute;
          top: 0;
          left: 0;
          //transform: translateY(0);  
          transition: transform 0.2s ease;
          transition-delay: 0.1s;
          z-index: 10;
        }
  
        //   a:first-of-type {
        //     border-top-left-radius: 2px;
        //   }
        //   a:last-of-type {
        //     border-top-right-radius: 2px;
        //   }
    }
  
    .content {
      position: relative;
      //padding: 0 $spacing;
      
        .home {
          text-align: center;
          font-size: 3rem;
          letter-spacing: .3rem;
          
          .title {
            margin: 3rem 10rem 5rem 10rem;
          }
          
          .home_static {
            position: absolute;
            width: 700px;
            height: 500px;
            margin: 10rem;

            border: 2px solid $color-1;
              
              &:hover {
                opacity: 0;
              }
          }

          .home_active {
            width: 700px;
            height: 500px;
            margin: 10rem;
            border: 2px solid $color-1;
          }
        }

        .about {
          font-size: 1.3rem;
          letter-spacing: .2rem;

            .tabs {
              display: flex;
              flex-wrap: wrap;

                input[type="radio"] {
                    display: none;
                }

                input[type="radio"]:checked + label {
                    border: 3px solid $color-1;
                }

                input[type="radio"]:checked + label + .tab {
                    display: block;
                }

                label {
                  order: 1; // Put the labels first
                  display: block;
                  padding: 1rem 2rem;
                  margin-right: 0.2rem;
                  border: 2px solid $color-3;
                  cursor: pointer;
                }

                .tab {
                    order: 99; // Put the tabs last
                    flex-grow: 1;
                    width: 800px;
                    display: none;
                    padding: 0 2rem;
                    border: 2px solid $color-1;
                }

/// about tabs content //////////////////////////////////////////////////////////////////

                /// briefing
                // .brief_title {
                //     margin: 3rem;
                // }

                .brief_header {
                  text-align: center;
                  margin: 1rem auto;
                  border: 3px dotted $color-3;
                  text-decoration: underline dotted;
                  font-size: 1.5rem;
                  padding: 1rem;
                }

                .inbox {
                  text-align: center;
                  margin-top: 2rem;
                  border-top: none;
                  font-size: 1.7rem;
                  padding-bottom: 1rem;
                  animation: blink 3s linear infinite;
                  span {
                    text-decoration: underline dotted;
                  }
                }

                @keyframes blink {
                  0% {
                    opacity: 1;
                  }
                  80% {
                    opacity: 1;
                  }
                  81% {
                    opacity: 0;
                  }
                  100% {
                    opacity: 0;
                  }
                }

                .from {
                  margin: 1rem auto;
                  border: 2px dotted $color-3;
                  font-size: 1.2rem;
                  padding: 1rem;
                  span {
                    text-decoration: underline dotted;
                  }
                }

                .to {
                  margin: 1rem auto;
                  border: 2px dotted $color-3;
                  font-size: 1.2rem;
                  padding: 1rem;
                  span {
                    text-decoration: underline dotted;
                  }
                }

                .subject {
                  margin: 1rem auto;
                  border: 2px dotted $color-3;
                  font-size: 1.2rem;
                  padding: 1rem;
                  span {
                    text-decoration: underline dotted;
                  }
                }

                .brief_main {
                  font-size: 1.2rem;
                  border-left: 3px dotted $color-3;
                  border-right: 3px dotted $color-3;
                  padding: 2rem;
                  margin: 1rem;
                  
                  .brief_legal {
                    margin-top: 3rem;
                    font-size: .75rem;
                    padding: 1rem;
                  }
                }

                /// ship
                

                .ship_container {
                  position: relative;

                  .ship_header {
                    text-align: center;
                    font-size: 2rem;
                    margin: 2rem;
                    text-decoration: underline dotted;
                  }

                  .ship_main {
                    height: 750px;
                  }

                  .ship_image_container {
                    
                    .ship_1_active {
                      position: absolute;
                      left: 10px;
                      top:  500px;
                      width: 350px;
                      border: 4px dotted $color-3;
                    }

                    .ship_2_active {
                      position: absolute;
                      left: 400px;
                      top: 500px;
                      width: 350px;
                      border: 4px dotted $color-3;
                    }
                  }

                  .ship_image_overlay_container {

                    .ship_1_overlay {
                      position: absolute;
                      left: 20px;
                      top: 730px;
                      font-size: 1rem;
                    }

                    .ship_2_overlay {
                      position: absolute;
                      left: 410px;
                      top: 730px;
                      font-size: 1rem;
                    }
                  }
                } 


                //////
                // .ship_image {
                //   display: inline-block;
                //   //margin: 1rem;
                //   width: 350px;
                // }
                /// mine
                .mine_image {
                  display: inline-block;
                  //margin: 1rem;
                  width: 350px;
                }
                /// hazards
                .enemies_active {
                  margin: 3rem;
                  height: 400px;
                }
            }  
            
            @media (max-width: 45em) {
                .tabs .tab,
                .tabs label {
                  order: initial;
                }

                .tabs label {
                  width: 100%;
                  margin-right: 0;
                  margin-top: 0.2rem;
                }
            }
        }
  
        &_section {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: 0;
          transition: opacity 0s ease;
  
            &.visible {
              position: relative;
              opacity: 1;
              width: 100%;
              height: auto;
              transition: opacity 0.5s ease;
              z-index: 2;
            }
        }
    }
}
  